# Ignore everything
/*
/*/
/.vim/backup/*
/.vim/bundle/*

# But don't ignore
!.bashrc
!.bashrc.git
!.bashrc.colors
!.bash_profile
!.bundler-exec.sh
!.dir_colors
!.gemrc
!.gitignore
!.gitignore_global
!.git-completion
!.git-template
!.oh-my-zsh
!.rvmrc
!.screenrc
!.submodules/
!.vim/
!.vim/bundle/vundle
!.vimrc
!.vim/backup/.empty
!.vim/bundle/refresh
!.zshrc
!README

# But do ignore this!
/.vim/.netrwhist
