# Ignore everything
/*
/*/
/.vim/backup/*
/.vim/bundle/*

# But don't ignore
!.bashrc
!.bashrc.git
!.bashrc.colors
!.bash_profile
!.dir_colors
!.gitignore
!.screenrc
!.submodules/
!.vim/
!.vimrc
!.vim/backup/.empty
!.vim/bundle/refresh
!README
